## problem solving and and proigramming
 
### day no : 14

### date: 17-5-19

## program 1:
#### problem statement
define a function froma csv file using pandas library and display the file data as output.

#### constraints 

#### testcases

In [11]:

 
import pandas as pd

def readcsv(filename):
    df = pd.read_csv(filename)
    return df

df = readcsv('datafiles/income.csv')
df.columns
#df.values[1]
for row in df.values:
    print('geoID:',row[0],'state:',row[1])

geoID: 04000US01 state: Alabama
geoID: 04000US02 state: Alaska
geoID: 04000US04 state: Arizona
geoID: 04000US05 state: Arkansas
geoID: 04000US06 state: California
geoID: 04000US07 state: Chicago

In [12]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [14]:
df.tail(3)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528
5,04000US07,Chicago,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [15]:
df.head(1)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381

In [16]:
import pandas as pd

def readcsv(filename):
    df = pd.read_csv(filename)
    return df

df = readcsv('datafiles/income.csv')
df.columns
#df.values[1]
for row in df.values:
    print('geoID:',row[0],'state:',row[1])
    
df.head(2) # retrievinf the first 2 rows
df.tail(5) # retrievinf the last  5 rows
df.iat[1,6]# Access the 7th element in 2nd row
#df.loc[2][0]

geoID: 04000US01 state: Alabama
geoID: 04000US02 state: Alaska
geoID: 04000US04 state: Arizona
geoID: 04000US05 state: Arkansas
geoID: 04000US06 state: California
geoID: 04000US07 state: Chicago

61604

## program 2 :
define a function to add new  row data to a csv file
#### test case :
*test case 1

*test case 2

*test case 3

In [2]:
def addRowCSV(filename, rowdata):
    df = readCSV(filename) # Get dataframe from CSV
    df.loc[len(df)] = rowdata # Add a row to the dataframe
    df.to_csv(filename, index=False) # Send the dataframe back to CSV
    return df

rowdata = ['010101', 'statename', 123, 4325, 4565, 9084, 83123, 423, 987, 345, 765]
addRowCSV('DataFiles/Income.csv', rowdata)

NameError: name 'readCSV' is not defined

## Problem 3 :
### Problem Statement
### Define a function to update / modify a row in a CSV file

## Constraints

* Test Case 1
* Test Case 2
* Test Case 3

In [3]:
def updateRowCSV(filename, rowindex, rowdata):
    df = readCSV(filename)
    df.loc[rowindex] = rowdata
    df.to_csv(filename, index=False)
    return df

#df = df.drop('Unnamed: 0', axis=1)
#readCSV('DataFiles/Income.csv')
df

NameError: name 'df' is not defined

## Problem 4 :
### Problem Statement
Define a function to delete a row from a CSV file

In [4]:
def deleteRowCSV(filename, rowindex):
    df = readCSV(filename)
    df = df.drop(rowindex)
    df.to_csv(filename, index=False)
    return df
#df = df.drop('Unnamed: 0', axis=1, inplace=True)
#df.to_csv('DataFiles/Income.csv', index=False)